{% extends "base_auth.html.twig" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/css/create_intervention.css"/>
 {% endblock %}

{% block body %}

<body>
<div class='liste-container'>
    {% if demande is defined %}
    <h1>Création d'une nouvelle intervention</h1>
    

    <form  action="create_intervention.php" method="post">
       
        <h2>Informations</h2>
        
        <textarea class="info-content" id="infos" name="infos" cols="70" rows="5">{{ demande.infos }}</textarea><br><br>
        
        <fieldset class="info-content">
            <legend>Intervenants :</legend>
            {% for intervenant in intervenants %}
                <input type="checkbox" id="intervenant_{{ intervenant.user_id }}" name="intervenants[]" value="{{ intervenant.user_id }}">
                <label for="intervenant_{{ intervenant.user_id }}">{{ intervenant.name }} {{ intervenant.surname }}</label><br>
            {% endfor %}
        </fieldset><br>

        <label for="standardiste">Standardiste :</label>
        <select name="standardiste" id="standardiste" required>
            {% for standardiste in standardistes %}
                <option value="{{ standardiste.user_id }}">{{ standardiste.name }} {{ standardiste.surname }}</option>
            {% endfor %}
        </select><br><br>

        <label for="client">Client :</label>
        <select name="client_id" id="client_id" required>
            {% for client in clients %}
                <option value="{{ client.user_id }}" {% if client.user_id == demande.client_id %} selected {% endif %}>{{ client.name }} {{ client.surname }}</option>
            {% endfor %}
        </select><br><br>

        <label>Date de début :</label>
        <input type="date" id="start_date" name="start_date" value="{{ demande.start_date|date('Y-m-d') }}" required><br><br>

        <fieldset class="info-content">
            <legend>Degré d'urgence :</legend>
            <input type="radio" id="faible" name="degre_urgence" value="Faible" {% if demande.degre_urgence == 'Faible' %} checked {% endif %} required>
            <label for="faible">Faible</label><br>

            <input type="radio" id="moyen" name="degre_urgence" value="Moyen" {% if demande.degre_urgence == 'Moyen' %} checked {% endif %} required>
            <label for="moyen">Moyen</label><br>

            <input type="radio" id="eleve" name="degre_urgence" value="Élevé" {% if demande.degre_urgence == 'Élevé' %} checked {% endif %} required>
            <label for="eleve">Élevé</label><br>
        </fieldset><br>
        <input type="hidden" name="demande_id" value="{{ demande.id }}">        
        <button class="button-form" type="submit">Enregistrer</button>
    </form>
{% endif %}
</div>
</body>
{% if error_message %}
    <script>
        alert("{{ error_message }}");
    </script>
{% endif %}
{% endblock %}
