{% extends "base_auth.html.twig" %}

{% block body %}
<body>
    <h1>Édition de l'intervention</h1>

    <h2>Informations de l'intervention</h2>
    <ul>
        <li>ID: {{ intervention.id }}</li>
        <li>Date de début: {{ intervention.start_date }}</li>
        <li>Status: {{ intervention.status_suivi }}</li>
        <li>Degré d'urgence: {{ intervention.degre_urgence }}</li>
    </ul>



    <h2>Intervenants de l'intervention</h2>
    <ul>
        {% for intervenant in intervenants %}
        <li>{{ intervenant.name }} {{ intervenant.surname }}</li>
        {% endfor %}
    </ul>

    <div class="comment-section">
        <h2>Commentaires</h2>
        <div class="comment-container">
            {% for commentaire in commentaires %}
            <div class="comment">
                <span class="comment-author">{{ commentaire.user_name }} {{ commentaire.user_surname }}</span>
                <span class="comment-date">{{ commentaire.date_commentaire}}</span>
                <p class="comment-content">{{ commentaire.commentaire}}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <form action="edit_intervention.php?id={{ intervention.id }}" method="post">
        <h2>Ajouter un commentaire :</h2>
        <textarea id="commentaire" name="commentaire" cols="70" rows="5"></textarea><br><br>

        {% if user.role == 'standardiste' or user.role == 'intervenant' %}
        <h3>Statut :</h3>
            <input type="radio" name="status" value="En attente" {% if intervention.status_suivi == 'En attente' %}checked{% endif %}> En attente<br>
            <input type="radio" name="status" value="En cours" {% if intervention.status_suivi == 'En cours' %}checked{% endif %}> En cours<br>
            <input type="radio" name="status" value="Clôturée" {% if intervention.status_suivi == 'Clôturée' %}checked{% endif %}> Clôturée<br>
            <input type="radio" name="status" value="Annulée" {% if intervention.status_suivi == 'Annulée' %}checked{% endif %}> Annulée<br><br>
        {% endif %}
        {% if user.role == 'standardiste' %}
            <h3>Degré d'urgence :</h3>
            <input type="radio" name="urgence" value="Faible" {% if intervention.degre_urgence == 'Faible' %}checked{% endif %}> Faible<br>
            <input type="radio" name="urgence" value="Moyen" {% if intervention.degre_urgence == 'Moyen' %}checked{% endif %}> Moyen<br>
            <input type="radio" name="urgence" value="Élevé" {% if intervention.degre_urgence == 'Élevé' %}checked{% endif %}> Élevé<br><br>
        {% endif %}
        <button type="submit">Enregistrer</button>
    </form>
</body>
{% endblock %}
