{% extends "base_auth.html.twig" %}

{% block body %}
<style>
body {
  font-family: 'Arial', sans-serif;
  background-image: url('/img/login.png'); 
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center center; 
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.liste{
  background: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 300px;
  align-items: center;
  margin-right:30px;
  margin-top:100px;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: white transparent;
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Hide the scrollbar in IE and Edge */
}

.liste table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0; 
}


select, input[type=text], button {
  width: 35%;
  height: 35%;
  padding: 10px;
  border: none;
  border-radius: 40px;
  background-color: #3A559F; 
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.liste h2
{
  text-align: center; 
}


th, td {
  padding: 10px;
}


.liste td {
    border-bottom: 2px solid white; 
}


th {
    border-bottom: 2px solid white; 
    color:#3A559F;
}

a {
  display: block;
  width: 100%;
  text-align: right;
  text-decoration: none;
  color: #3A559F;
}
.liste_newCustomers{
    margin-top:0px;
    background-color:none;
    border:none;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
    -ms-overflow-style: -ms-autohiding-scrollbar; /* Hide the scrollbar in IE and Edge */

}

@media (max-width: 1200px) {
  div {
    width: 450px;
  }
}

@media (max-width: 900px) {
  div {
    width: 100%;
  }
}

</style>
<body>
{% if user.role == 'admin' %}
    <div class = "liste" style="width: 300px; height: 600px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
        <h2>Liste des interventions</h2>
        <form action="search.php" method="GET">
            <select name="tri">
                <option value="id_intervention_asc">ID croissant</option>
                <option value="id_intervention_desc">ID décroissant</option>
                <option value="intervention_cloturee">Clôturée</option>
                <option value="intervention_annulee">Annulée</option>
                <option value="intervention_encours">En cours</option>
                <option value="intervention_enattente">En attente</option>
            </select>
            <button type="submit">Trier</button>
        </form>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Client</th>
                        <th></th> 

                    </tr>
                </thead>
                <tbody>
                    {% for intervention in interventions %}
                    <tr>
                        <td>{{ intervention.id }}</td>
                        <td>{{ intervention.client_id}}
                        <td><a href="viewmore.php?type=intervention&id={{ intervention.id }}">View more</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <div class = "liste" style="width: 300px; height: 600px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
        <h2>Liste des clients</h2>
        <form action="search.php" method="GET">
            <select name="tri">
                <option value="id_client_asc">ID croissant</option>
                <option value="id_client_desc">ID décroissant</option>
                <option value="name_client_asc">Nom croissant</option>
                <option value="name_client_desc">Nom décroissant</option>
            </select>
            <button type="submit">Trier</button>
        </form>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>ID</th>
                        <th></th> 
                    </tr>
                </thead>
                <tbody>
                    {% for client in customers %}
                    <tr>
                        <td>{{ client.name }}</td>
                        <td>{{ client.surname }}</td>
                        <td>{{ client.user_id }}</td>
                        <td><a href="viewmore.php?type=client&id={{ client.user_id }}">View more</a></td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% if newCustomers != empty %}
        <div class = "liste_newCustomers" style="width: 270px; height: 300px; overflow-y: scroll; padding: 10px; margin-bottom: 20px;">
            <h2>Nouveaux clients</h2>  
            <form action="search.php" method="GET">
                <select name="tri">
                    <option value="id_newclient_asc">ID croissant</option>
                    <option value="id_newclient_desc">ID décroissant</option>
                    <option value="name_newclient_asc">Nom croissant</option>
                    <option value="name_newclient_desc">Nom décroissant</option>
                </select>
                <button type="submit">Trier</button>
            </form>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>ID</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in newCustomers %}
                    <tr>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.surname }}</td>
                        <td>{{ customer.user_id }}</td>
                        <td><a href="verify.php?type=newCustomers&id={{ customer.user_id }}">Verify</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}


   </div>
    <div class = "liste" style="width: 300px; height: 600px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
        <h2>Liste des intervenants</h2>  
        <form action="search.php" method="GET">
            <select name="tri">
                <option value="id_intervenant_asc">ID croissant</option>
                <option value="id_intervenant_desc">ID décroissant</option>
                <option value="name_intervenant_asc">Nom croissant</option>
                <option value="name_intervenant_desc">Nom décroissant</option>
            </select>
            <button type="submit">Trier</button>
        </form>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>ID</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for intervenant in intervenants %}
                    <tr>
                        <td>{{ intervenant.name }}</td>
                        <td>{{ intervenant.surname }}</td>
                        <td>{{ intervenant.user_id }}</td>
                        <td><a href="viewmore.php?type=intervenant&id={{ intervenant.user_id }}">View more</a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <div class = "liste" style="width: 300px; height: 600px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
        <h2>Liste des standardiste</h2>
        <form action="search.php" method="GET">
            <select name="tri">
                <option value="id_standardiste_asc">ID croissant</option>
                <option value="id_standardiste_desc">ID décroissant</option>
                <option value="name_standardiste_asc">Nom croissant</option>
                <option value="name_standardiste_desc">Nom décroissant</option>
            </select>
            <button type="submit">Trier</button>
        </form>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>ID</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for standardiste in standardistes %}
                    <tr>
                        <td>{{ standardiste.name }}</td>
                        <td>{{ standardiste.surname }}</td>
                        <td>{{ standardiste.user_id }}</td>
                        <td><a href="viewmore.php?type=standardiste&id={{ standardiste.user_id }}">View more</a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% endif %}
</body>
{% endblock %}

