{% extends "base_auth.html.twig" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/css/home_client_int.css"/>
 {% endblock %}

{% block body %}
<body>
    {% if user.role == 'client' and user.verified == TRUE %}
        <div class='liste-container'>
        <div class='en-tete'>
            <h1>Liste des interventions clôturées</h1>
        </div>
            <div class='liste' >
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date de début</th>
                            <th>Client</th>
                            <th>Standardiste</th>
                            <th>Infos</th>
                            <th>Status</th>
                            <th>Degré d'urgence</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for intervention in interventions_completed %}
                        <tr>
                            <td>{{ intervention.id }}</td>
                            <td>{{ intervention.start_date }}</td>
                            <td>{{ intervention.client_id }}</td>
                            <td>{{ intervention.standardiste_id }}</td>
                            <td>{{ intervention.infos }}</td>
                            <td>{{ intervention.status_suivi }}</td>
                            <td>{{ intervention.degre_urgence }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> <br>
            </div>
        </div>
    {% else %}
    <p>En Attente...</p>
    {% endif %}
</body>
{% endblock %}
