{% extends "base_auth.html.twig" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/css/home_client.css"/>
 {% endblock %}

{% block body %}

<body>
<div class="liste-container">
        <div class="en-tete">
        <h1>Liste des interventions en cours</h1>
        </div>
        <form  class="form" action="search.php" method="GET">
        <select class="selection" name="tri">
            <option value="id_intervention_asc">ID croissant</option>
            <option value="id_intervention_desc">ID décroissant</option>
            <option value="intervention_annulee">Annulée</option>
            <option value="intervention_encours">En cours</option>
            <option value="intervention_enattente">En attente</option>
        </select>
        <button class="chercher" type="submit">Trier</button>
        </form> <br> <br>
    
    <div class="liste">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date de début</th>
                    <th>Client</th>
                    <th>Standardiste</th>
                    <th>Infos</th>
                    <th>Commentaires</th>
                    <th>Status</th>
                    <th>Degré d'urgence</th>
                    <th>Ajouter Commentaire</th>
                </tr>
            </thead>
            <tbody>
                {% for intervention in interventions_in_progress %}
                <tr>
                    <td>{{ intervention.id }}</td>
                    <td>{{ intervention.start_date }}</td>
                    <td>{{ intervention.client_id }}</td>
                    <td>{{ intervention.standardiste_id }}</td>
                    <td>{{ intervention.infos }}</td>
                    <td>
                        <div class="comment-content">
                            {% for commentaire in commentaires %}
                                {% if commentaire.intervention_id == intervention.id %}
                                    <div class="comment">
                                        <span class="comment-author">{{ commentaire.user_name }} {{ commentaire.user_surname }}</span>
                                        <span class="comment-date">{{ commentaire.date_commentaire}}</span>
                                        <p class="comment-content">{{ commentaire.commentaire}}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                    <td>{{ intervention.status_suivi }}</td>
                    <td>{{ intervention.degre_urgence }}</td>
                    <td><a href="edit_intervention.php?id={{ intervention.id }}">Ajouter des commentaires</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>

</body>
{% endblock %}
