{% extends "base_auth.html.twig" %}

{% block body %}
<body>
    {% if user.role == 'standardiste' %}
    <table>
        <h1>Liste des interventions</h1>

        <thead>
            <tr>
                <th>ID</th>
                <th>Date de début</th>
                <th>Client</th>
                <th>Standardiste</th>
                <th>Infos</th>
                <th>Status</th>
                <th>Degré d'urgence</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.id }}</td>
                <td>{{ intervention.start_date }}</td>
                <td>{{ intervention.client_id }}</td>
                <td>{{ intervention.standardiste_id }}</td>
                <td>{{ intervention.infos }}</td>
                <td>{{ intervention.status_suivi }}</td>
                <td>{{ intervention.degre_urgence }}</td>
                <td>
                    {% if intervention.standardiste_id == user.user_id %}
                        <a href="edit_intervention.php?id={{ intervention.id }}">Edit</a>
                    {% else %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endif %}
{% endblock %}
