{% extends "base_auth.html.twig" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/css/messagerie.css"/>
 {% endblock %}

{% block body %}
<body>
{% if user.role == 'standardiste' %}
<div class='liste-container'>
    <h1>Demande à traiter</h1>
    <div class = "liste">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Client</th>
                    <th>Infos</th>
                    <th>Date</th>
                    <th></th> 

                </tr>
            </thead>
            <tbody>
                {% for demande in demandes %}
                    <tr>
                        <td>{{ demande.id }}</td>
                        <td>{{ demande.client_id }}</td>
                        <td>{{ demande.infos }}</td>
                        <td>{{ demande.start_date }}</td>
                        <td>
                            <form action="createByDemande.php" method="post">
                                <input type="hidden" name="demande_id" value="{{ demande.id }}">
                                <button class='cree-button' type="submit">Creer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
</body>
{% endblock %}