{% extends "base_auth.html.twig" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/css/resultsearch.css"/>
 {% endblock %}

{% block body %}
{% if user.role == 'admin' or user.verified == TRUE %}

<div class = 'liste-container'>
    <h1>Résultats de la recherche</h1>
    <div class='liste'>
        {% if user.role =='intervenant' %}
            {% if type == 'intervention' %}
                {% for result in results %}
                    {% if result in interventions %}
                        <p> ID: {{ result.id }} INFOS: {{ result.infos }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if user.role =='client' %}
            {% if type == 'intervention' %}
                {% for result in results %}
                    {% if result in interventions %}
                        <p>ID: {{ result.id }} INFOS: {{ result.infos }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if user.role =='admin' %}
            {% if type == 'intervention' %}
                {% for result in results %}
                    <p>ID: {{ result.id }} INFOS :{{ result.infos }}</p>
                {% endfor %}
            {% else %}
                {% for result in results %}
                    <p> {{ result.name }} {{ result.surname }}</p>
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if user.role =='standardiste' %}
            {% if type == 'intervention' %}
                {% for result in results %}
                    <p>ID: {{ result.id }} INFOS: {{ result.infos }}</p>
                {% endfor %}
            {% else %}
                {% for result in results %}
                    <p>{{ result.name }} {{ result.surname }}</p>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
</div>
{% else %}
<p>En Attente...</p>
{% endif %}
{% endblock %}
