{% extends "base_auth.html.twig" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/css/verify.css"/>
 {% endblock %}

{% block body %}

<body>
    <div class='liste-container'>
        <h1>Informations sur le nouveau client</h1>
        <div class='info-content'>
            <p>ID: {{ newCustomer.user_id }}</p>
            <p>Nom: {{ newCustomer.name }}</p>
            <p>Prénom: {{ newCustomer.surname }}</p>
            <p>Email: {{ newCustomer.email }}</p>
        </div>
        <h2>Modifier le rôle :</h2>
        <form method="post" action="verify.php?id={{ newCustomer.user_id }}">
            <select name="role">
                <option value="client">Client</option>
                <option value="intervenant">Intervenant</option>
                <option value="standardiste">Standardiste</option>
                <option value="admin">Admin</option>
            </select>
            <input class='enregistrer' type="submit" value="Enregistrer">
        </form>
    </div>
</body>
{% endblock %}
